<%= form_for(@data_result) do |f| %>
  <% if @data_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_result.errors.count, "error") %> prohibited this data result from being saved:</h2>

      <ul>
      <% @data_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :query_result_id %><br />
    <%= f.text_field :query_result_id %>
  </div>
  <div class="field">
    <%= f.label :original_query_string %><br />
    <%= f.text_area :original_query_string %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
