<p id="notice"><%= notice %></p>

<p>
  <b>Report:</b>
  <%= @filter_param.report_id %>
</p>

<p>
  <b>Filter param type:</b>
  <%= @filter_param.filter_param_type %>
</p>

<p>
  <b>Column:</b>
  <%= @filter_param.column %>
</p>


<%= link_to 'Edit', edit_filter_param_path(@filter_param) %> |
<%= link_to 'Back', filter_params_path %>
