<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @data_parameter.group_id %>
</p>

<p>
  <b>Column name:</b>
  <%= @data_parameter.column_name %>
</p>

<p>
  <b>Symbolic name:</b>
  <%= @data_parameter.symbolic_name %>
</p>

<p>
  <b>Display name:</b>
  <%= @data_parameter.display_name %>
</p>

<p>
  <b>Short display name:</b>
  <%= @data_parameter.short_display_name %>
</p>

<p>
  <b>Description:</b>
  <%= @data_parameter.description %>
</p>


<%= link_to 'Edit', edit_data_parameter_path(@data_parameter) %> |
<%= link_to 'Back', data_parameters_path %>
