<div class="nested-fields">
  <%= f.input :filter_param_type, :as => :hidden %>

  <%= f.input :enable_for_filter_sets %>
  <%= f.input :column %>
  <%= f.input :values, :input_html => { :rows => 5 }, :hint => '(JSON array)' %>

  <% if !report.nil? %>
    <%= link_to_remove_association "remove filter param", f %>
  <% end %>
</div>
