<%= simple_form_for @report do |form| %>
  <div class="dialog-content">
    <div class="col-a">
      <%= form.input :report_type, :as => :hidden %>
      <%= form.input :name %>
      <%= form.input :tag_list, :hint => '(separate by commas)' %>
      <%= form.association :filter_set, :label => 'Data Segment' %>
    </div>

    <div class="filters">
      <%= render :partial => 'filter_prefs/fields_for_dialog', :locals => {:form => form} %>
    </div>
    <div class="clear"></div>

    <% if is_global_admin?(current_user) %>
      <div class="col-4 global-admin">
        <%= form.collection_radio :sample_option, Query::Sample.options, :first, :last %>
        <%= form.input :highcharts_params, :hint => 'JSON', :input_html => {:cols => 80} %>

        <div id="filter_params" class="sub-form">
          <%= form.association :filter_params, :as => :check_boxes %>
        </div>

        <div id="report_queries" class="sub-form">
          <h3>Queries</h3>
          <%= form.simple_fields_for :report_queries do |report_query| %>
            <%= render 'report_query_fields', :f => report_query %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'link query data', form, :report_queries %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render :partial => 'shared/dialog_footer', :locals => {
          :form => form, :cancel_path => (@report.new_record? ?
                  reports_path : report_path(@report)) } %>
<% end %>
