<%= simple_form_for(@report_query) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :report_id %>
    <%= f.input :query_id %>
    <%= f.input :chart_type %>
    <%= f.input :chart_params %>
    <%= f.input :x_column %>
    <%= f.input :y_column %>
    <%= f.input :radius_column %>
    <%= f.input :name_column %>
    <%= f.input :query_select_group %>
    <%= f.input :sql_string %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
